.registerSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.registerForm {
    margin: 10px;
}

.image {
    margin: 30px;
    width: 350px;
    height: 350px;
}

.title {
    color: rgb(141, 141, 141);
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.infoSection{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}